/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



div#top_bar {
    text-align:right;
    border-bottom-width:1px;
    border-bottom-style:solid;
    padding:4px;

    background-color:#ff5555;

  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding-left:30px;
  padding-right:30px;
  border-left-width:1px;
  border-left-style:dotted;
  border-left-color:red;

  border-right-width:1px;
  border-right-style:dotted;
  border-right-color:red;

}

div#content {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;

  padding-left:30px;
  padding-right:30px;


  border-left-width:1px;
  border-left-style:dotted;
  border-left-color:red;

  border-right-width:1px;
  border-right-style:dotted;
  border-right-color:red;

  background-color:#ffeeee;



}

div#login_form {

  
}

div#topic_body {

    font-size: 20pt;
    line-height:20pt;

}
span.top_bar_element {
    border-left-width:1px;
    border-left-style:solid;
    padding:4px;

}

div.topic_rating {
    font-size: 20pt;
    text-align:center;
    margin:5px;

}
div.topic_title {
    margin:0 auto;
    //font-size: 20pt;
    

}

td.main_table {
    border-bottom: 1px dotted #000;
}
